/* VARIABLES GLOBALES */
:root {
    /* Colores */
    --primary-color: #e84735;
    --secondary-color: #555555;
    --bg-color: #f4f6f9;
    --text-color: #222;

    /* Colores funcionales */
    --light-gray: #e2e8f0;       
    --focus-ring: rgba(232, 71, 53, 0.4); 
    --hover-bg: #f0f7ff;         
    
    /* COLORES DE ESTADO */
    --success-color: #28a745;
    --error-color: #dc3545;

    /* Diseño */
    --radius: 10px; 
    --transition: 0.3s ease;

    /* Sombras */
    --shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
    --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
}