/* VARIABLES GLOBALES */
:root {
  --primary-color: #c03020;

  --secondary-color: #555555;
  --bg-color: #f4f6f9;
  --text-color: #222;

  /* Colores funcionales */
  --light-gray: #cbd5e1;
  --focus-ring: rgba(192, 48, 32, 0.4);
  --hover-bg: #f0f7ff;

  /* COLORES DE ESTADO */
  --success-color: #1e7e34;
  --error-color: #d32f2f;

  /* Diseño */
  --radius: 10px;
  --transition: 0.3s ease;

  /* Sombras */
  --shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
}
