<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Economato - Prototipo</title>
    <link rel="stylesheet" href="../assets/css/estilo.css" />
</head>

<body>
    <h1>Smart Economato - Añadir Producto</h1>

    <table>
        <tr>
            <td><label>Nombre:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Precio:</label></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><label>Precio Unitario:</label></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><label>Stock:</label></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><label>Stock Mínimo:</label></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><label>Categoría Id:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Proveedor Id:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Unidad Medida:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Marca:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Código Barras:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Fecha Caducidad:</label></td>
            <td><input type="date"></td>
        </tr>

        <tr>
            <td><label>Alérgenos:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Descripción:</label></td>
            <td><textarea></textarea></td>
        </tr>

        <tr>
            <td><label>Precio (€):</label></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><label>Proveedor:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><label>Isla:</label></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center; padding-top:10px;">
                <button type="submit">Guardar</button>
            </td>
        </tr>
    </table>
    </form>

</body>

</html>