<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Economato</title>
    <meta name="description"
        content="Gestión de economato del CIFP Virgen de Candelaria. Control de inventario y pedidos.">
    <link rel="stylesheet" href="../assets/css/variables.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/components.css">
    <link rel="stylesheet" href="../assets/css/pages.css">

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <header>
            <img src="../assets/img/logo/LOGO CIFP VIRGEN DE CANDELARIA.png"
                alt="Logotipo del CIFP Virgen de Candelaria" class="logo">
            <h1 class="tituloPrin">Gestión Economato</h1>

            <button id="menuToggle" aria-label="Abrir menú de navegación">
                ☰
            </button>
        </header>

        <nav class="navBar" id="mainNav">
            <a href="#" data-page="Recepcion">Recepción</a>
            <a href="#" data-page="DistribucionInterna">Distribución Interna</a>
            <a href="#" data-page="Bajas">Bajas</a>
            <a href="#" data-page="Pedidos">Pedidos</a>
            <a href="#" data-page="Rendimiento">Rendimiento</a>
            <a href="#" data-page="economato">Inventario</a>
            <a href="#" data-page="Usuario">Usuario</a>
        </nav>

        <main class="contenido" id="contenido"></main>

        <footer>Pie de página</footer>

    </div>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script type="module" src="../src/rout/main.js"></script>
</body>

</html>