<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body class="body-login">
    <div class="login-container">
        <img src="../assets/img/logo/LOGO CIFP VIRGEN DE CANDELARIA.png" alt="Logo" class="login-logo">
        <h1 class="login-titulo">Iniciar Sesión</h1>
        <form id="login-formulario" class="login-formulario">
            <label class="login-label" for="username">Usuario:</label>
            <input class="login-input" type="text" id="username" name="username">
            <label class="login-label" for="password">Contraseña:</label>
            <input class="login-input" type="password" id="password" name="password">
            <input class="login-button" type="submit" value="login">
            <p id="loginMessage" class="message"></p>
        </form>
        <script type="module" src="../src/controllers/loginController.js"></script>
    </div>
</body>

</html>