<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="../assets/css/variables.css"> 
    <link rel="stylesheet" href="../assets/css/login.css"> </head>

<body class="body-login">

    <div class="login-container">

        <img src="../assets/img/logo/LOGO CIFP VIRGEN DE CANDELARIA.png"
             class="login-logo" alt="Logo">

        <h1 class="login-titulo">Iniciar Sesión</h1>

        <form id="login-formulario" class="login-formulario">

            <div class="form-group-login" style="margin-bottom: 18px;"> 
                <label for="username" class="login-label">Usuario:</label>
                <input type="text" id="username" class="login-input" required>
            </div>

            <div class="form-group-login" style="margin-bottom: 24px;"> <label for="password" class="login-label">Contraseña:</label>
                <input type="password" id="password" class="login-input" required>
            </div>

            <input type="submit" value="Iniciar Sesión" class="login-button">

            <a href="#" class="login-forgot">¿Has olvidado la contraseña?</a>

            <p id="loginMessage" class="message"></p>

        </form>

    </div>

    <script type="module" src="../src/controllers/loginController.js"></script>

</body>

</html>