<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <title>Smart-Economato</title>
  </head>
  <body>
    <div class="container-main">
      <div class="head">
        <header>
          <h1>SMART-ECONOMATO</h1>
        </header>
        <nav>
          <a href="">Recetas</a>
          <a href="">Escandallos</a>
          <a href="">Perfil</a>
          <a href="">Almacen</a>
        </nav>
      </div>
      <div class="main"></div>
      <div class="foot">
        <footer>
          <p>
            Proyecto realizado por el <span class="Hopper">Grupo Hopper</span>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
